<!DOCTYPE html>
<html lang="en">
<head>
    <title>Password reset</title>
    {% extends "moodboard/base.html" %}
</head>
<body>

{% block body %}
 <div class="content-section">
        <form method="POST">
            {% csrf_token %}
                <legend class="border-bottom mb-4">Reset Password</legend>
                {{ form.as_p }}
            <div class="form-group">
                <button type="submit" class="btn success">Request Password Reset</button>
            </div>
        </form>
    </div>
{% endblock %}
</body>
</html>
